@import "../../styles/general.scss";

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  transition: opacity 1s;
  @media (max-width: 950px) {
    padding: 24px;
  }

  &.fadeOut {
    opacity: 0;
  }
}

.header__logo {
  svg {
    height: 42px;

    @media (max-width: 950px) {
      height: 32px;
    }
  }
}

.header__nav {
  @media (max-width: 950px) {
    display: none;
  }
  nav {
    padding: 0;
    margin: 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        padding: 11px 5px 8px 5px;
        margin: 0 16px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.24s;
        position: relative;

        &:after {
          content: "";
          width: 16px;
          right: -22px;
          height: 1px;
          top: 18px;
          background: white;
          border: none;
          position: absolute;
          opacity: 0.2;

          @media (max-width: 640px) {
            display: none;
          }
        }

        &:last-child:after {
          display: none;
        }

        a {
          color: #fff;
          text-decoration: none;
          padding: 12px 0;
          font-size: 18px;
        }

        &:hover {
          border-bottom: 3px solid white;
        }
      }
    }
  }
}
