@import "../../styles/general.scss";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  box-sizing: border-box;
  position: absolute;
  top: $gutter * 2;
  left: $gutter * 2;
  right: $gutter * 2;
  z-index: 998;
  transition: opacity 1s;
  border-radius: 8px;

  @media (max-width: 950px) {
    padding: 24px;
  }

  &.header--compact {
    position: fixed;
    background: radial-gradient(
      circle,
      rgba($color-red, 0.8) 0%,
      rgba($color-red, 1) 100%
    );
    padding: 8px 16px;
    box-shadow: 0 0 0 20px #f1f1f1;
    animation: fadeIn 1s forwards;
    backdrop-filter: blur(8px);

    .header__logo {
      svg {
        height: 32px;
      }
    }
  }
  &.fadeOut {
    opacity: 0;
  }
}

.header__logo {
  svg {
    height: 42px;

    @media (max-width: 950px) {
      height: 32px;
    }
  }
}

.header__nav {
  @media (max-width: 950px) {
    display: none;
  }
  nav {
    padding: 0;
    margin: 0;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        padding: 11px 5px 8px 5px;
        margin: 0 16px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.24s;
        position: relative;

        &:after {
          content: "";
          width: 16px;
          right: -22px;
          height: 1px;
          top: 18px;
          background: white;
          border: none;
          position: absolute;
          opacity: 0.2;

          @media (max-width: 640px) {
            display: none;
          }
        }

        &:last-child:after {
          display: none;
        }

        a {
          color: #fff;
          text-decoration: none;
          padding: 12px 0;
          font-size: 18px;
        }

        &:hover {
          border-bottom: 3px solid white;
        }
      }
    }
  }
}
