@import "../../styles/general.scss";

.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color-red, 0.95);
  display: none;
  align-items: center;
  justify-content: center;

  &.dialog--opened {
    display: flex;
  }

  .dialog__box {
    width: 100%;
    text-align: center;
    max-width: 480px;
    height: auto;
    background: $color-white;
    border-radius: $gutter * 4;
    padding: $gutter * 4 $gutter * 8;
  }
}
