@import "../../styles/general.scss";

@keyframes pulse {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }

  75% {
    transform: translateY(0);
  }

  10% {
    transform: translateY(0);
  }
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: #fdf7f6;
  padding: 92px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  .hero__logo {
    width: 100%;
    max-width: 380px;
    z-index: 3;
  }

  h1 {
    font-size: 17px;
    text-align: center;
  }

  .hero__more {
    width: 48px;
    height: 48px;
    position: absolute;
    bottom: 48px;
    z-index: 3;
    animation: pulse 3s infinite;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.24s;

    &:hover {
      opacity: 1;
    }
    svg {
      fill: $color-black;
    }
  }
}
