@import "../../styles/general.scss";

.footer {
  padding: 64px 0;
  width: 100%;
  background: $color-red;

  .footer__container {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background: radial-gradient(
      circle,
      rgba($color-red, 0.9) 0%,
      rgba($color-red, 1) 100%
    );
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    padding: 16px;
    font-family: "Hind", sans-serif;
    display: inline-block;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media (max-width: 640px) {
        margin-bottom: 24px;
        flex-direction: column;
      }

      li {
        padding: 10px 5px;
        margin: 0 15px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.24s;
        position: relative;

        @media (max-width: 640px) {
          text-align: center;
          padding: 5px;
          margin: 10px 15px;
        }

        &:after {
          content: "";
          width: 15px;
          right: -22px;
          height: 1px;
          top: 15px;
          background: white;
          border: none;
          position: absolute;
          opacity: 0.2;

          @media (max-width: 640px) {
            display: none;
          }
        }

        &:last-child:after {
          display: none;
        }

        a {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          border-bottom: 3px solid white;
        }
      }
    }
  }

  svg {
    max-width: 150px;
    width: 100%;
  }

  small {
    margin-top: 32px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
