@import "../../styles/general.scss";

.section--how {
  min-height: 100vh;

  margin: 0;

  .how__text {
    min-height: 100vh;
    height: auto;
    padding: 48px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;

    @media (max-width: $desktop) {
      grid-template-rows: 1fr 1fr;
      min-height: auto;
    }

    div {
      max-width: 60ch;

      width: 100%;
      margin: 0 auto;
    }
  }
}
