.body {
  box-sizing: border-box;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: $color-white;
  border: 24px solid $color-white;
  box-sizing: border-box;

  &.auto-height {
    min-height: auto;
  }
}

h1 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 48px;
  margin: 24px 0;
}

h2 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 32px;
  margin: 24px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-black;
}

h4 {
  font-family: "Hind", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

hr {
  height: 5px;
  width: 10%;
  max-width: 60px;
  border: none;
  margin: 48px auto;

  &.divider--blue {
    background-color: $color-blue;
  }

  &.divider--yellow {
    background-color: $color-yellow;
  }

  &.divider--red {
    background-color: $color-red;
  }
}

p {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.4;
  max-width: 60ch;
  margin: 0 auto;
  color: $color-black;

  &.paragraph--lead {
    font-size: 19px;
    line-height: 1.4;
    font-weight: 400;
    max-width: 60ch;
  }
}

small {
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  max-width: 60ch;
}

.align--center {
  text-align: center;
  max-width: 80ch;
}
