@import url("https://fonts.googleapis.com/css?family=Hind:400,500,600&display=swap&subset=latin-ext");

// Colors
$color-red: #d55241;
$color-yellow: #e7a352;
$color-brown: #52433f;
$color-blue: #4caab2;
$color-black: #393d3f;

// Helpers
$gutter: 4px;

// Fonts
