@import url("https://fonts.googleapis.com/css?family=Hind:400,500,600,700&display=swap&subset=latin-ext");

// Colors
$color-red: #d55241;
$color-yellow: #e7a352;
$color-brown: #52433f;
$color-blue: #4caab2;
$color-green: #4cb276;
$color-black: #4a4e50;
$color-white: #ffffff;

// Helpers
$gutter: 4px;

// Fonts
$font-primary: "Hind", "Helvetica", sans-serif;
