@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap&subset=latin-ext");

// Colors
$color-red: #d55241;
$color-yellow: #e7a352;
$color-brown: #52433f;
$color-blue: #4caab2;
$color-green: #4cb276;
$color-black: #5a5e5f;
$color-white: #ffffff;
$color-ghost-white: #f1f1f1;

// Helpers
$gutter: 4px;

// Fonts
$font-primary: "Istok Web", "Helvetica", sans-serif;

$tablet: 800px;
$mobile-s: 480px;
$mobile: 640px;
$desktop: 1080px;
$bigscreen: 1500px;
$tv: 2180px;
