@import "reset";
@import "variables";
@import "elements";

body,
html {
  height: 100%;
}
body {
  font-family: "Hind";
  overflow-x: hidden;
  font-size: 19px;
}

:global {
  body.modal--active {
    overflow: hidden;
  }
  #__next {
    height: 100%;
  }
}
