@import "../../styles/general.scss";

.section--about {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    min-height: auto;
  }

  .about__graphic {
    z-index: 2;
    margin-bottom: -4px;
    div {
      width: 52vw;
      text-align: right;

      @media (max-width: $mobile) {
        width: 100%;
      }

      img {
        height: auto;
        max-height: 80vh;
        max-width: 100%;
        width: auto;

        @media (max-width: $mobile) {
          width: 100%;
          height: auto;
          min-height: auto;
          max-width: 100%;
        }
      }
    }
  }

  .about__text {
    min-height: 100vh;
    height: auto;
    padding: 48px;
    background: lighten($color-brown, 65%);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;

    h1 {
      color: $color-brown;
    }

    @media (max-width: $mobile) {
      grid-template-rows: 1fr 1fr;
      min-height: auto;
    }

    div {
      max-width: 40ch;

      @media (min-width: $tv) {
        max-width: 60ch;
      }

      @media (min-width: $bigscreen) and (max-width: $tv - 1) {
        max-width: 60ch;
      }

      width: 100%;
      margin: 0 auto;
    }

    &.about__text--decorated:before {
      content: "";
      position: absolute;
      width: 25vw;
      top: 0;
      left: -25vw;
      bottom: 0;
      background: lighten($color-brown, 65%);
      z-index: -1;

      @media (max-width: $mobile) {
        display: none;
      }
    }
  }

  &:nth-of-type(2) {
    .about__text {
      h1 {
        color: $color-blue;
      }
      background: white;
    }
  }
}
